* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;*/
header {
  height: 10vh;
  position: relative;
  z-index: 100;
}
header .container-menu {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
@media only screen and (min-width: 321px) {
  header .container-menu {
    height: 10vh;
  }
}
header .container-menu input {
  display: none;
}
header .container-menu .bottom {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 10px;
}
header .container-menu .bottom img {
  width: 30px;
}
header .container-menu .menu {
  width: 100%;
  height: 90vh;
  transform: translateX(-110%);
  transition: all 0.5s;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  display: flex;
  justify-content: center;
  align-content: center;
}
header .container-menu .menu .small-container {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
header .container-menu .menu .small-container li {
  width: 100%;
  height: auto;
  list-style: none;
  padding: 20px 0;
}
header .container-menu .menu .small-container li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding-left: 10px;
}
header .container-menu .menu .small-container li:hover {
  background-color: #fff;
}
header .container-menu .menu .small-container li:hover > a {
  color: #43e97b;
}
header .container-menu .menu .small-container .logo {
  display: none;
}
header .container-menu #btn-menu:checked ~ .menu {
  transform: translateX(0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-logo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (min-width: 684px) {
  .container-logo {
    height: 100px;
    overflow: hidden;
  }
}
.container-logo .logo-movil {
  width: 30%;
  max-width: 100%;
  height: auto;
  text-align: center;
}
@media only screen and (min-width: 684px) {
  .container-logo .logo-movil {
    width: 20%;
  }
}
.container-logo .text-sobremi-movil {
  font-weight: 100;
  font-size: 18px;
}

.hero {
  width: 100%;
  height: auto;
  top: 150px;
  left: 0;
  position: absolute;
  width: 100%;
  height: auto;
}
.hero .hero-container {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.hero .hero-container .hero-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-container .hero-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@media only screen and (min-width: 684px) {
  .hero .hero-container .hero-image img {
    width: 60%;
  }
}
.hero .hero-container .hero-text-main {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 684px) {
  .hero .hero-container .hero-text-main {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero .hero-container .hero-text-main .hero-text {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 300;
  text-transform: capitalize;
}
.hero .hero-container .boton {
  display: block;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  border: solid 1px transparent;
  border-radius: 10px;
  background-color: #9555af;
  padding: 10px 15px;
  cursor: pointer;
}
@media only screen and (min-width: 684px) {
  .hero .hero-container .boton {
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero .hero-container .boton a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  letter-spacing: 1.5px;
}