@import "components/variables";
@import "components/menu";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-logo {
    width: 100%;
    height: auto;
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logo-movil {
        width: 30%;
        max-width: 100%;
        height: auto;
        text-align: center;
    }
    .text-sobremi-movil {
        font-weight: 100;
        font-size: 18px;
    }
}

.hero {
    width: 100%;
    height: auto;
    top: 150px;
    left: 0;
    position: absolute;
    width: 100%;
    height: auto;
    .hero-container {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        .hero-image {
            width: 100%;
            height: auto;
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
        .hero-text-main {
            width: 100%;
            height: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            .hero-text {
                width: 90%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                padding-top: 5px;
                text-align: center;
                font-family: $text_hero;
                font-weight: 300;
                text-transform: capitalize;
            }
        }
        .boton {
            display:block;
            width: 60%;
            text-align: center;
            margin: 0 auto;
            text-decoration: none;
            color: #fff;
            border: solid 1px transparent;
            border-radius: 10px;
            background-color: #9555af;
            padding: 10px 15px;
            cursor: pointer;
        
            a {
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                font-family: $text_general;
                letter-spacing: 2px;
                font-weight: 100;
            }
        }
    }
}
