header {
    height: 10vh;
    position: relative;
    z-index: 100;
}

main {

    .container-logo {
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media only screen and (min-width: 684px) {         
            height: 100px;
            overflow: hidden;
        }
        .logo-movil {
            width: 30%;
            max-width: 100%;
            height: auto;
            text-align: center;
            @media only screen and (min-width: 684px) {         
                width: 20%;
            }
        }
        .text-sobremi-movil {
            font-weight: 100;
            font-size: 18px;
        }
    }
    .contaner-blog-main {
        width: 100%;
        height: 550px;
        .container-blog-firts {
            position: inherit;
            width: 100%;
            height: 550px;
            background-color: #e6e9ed;
            .blog-main {
                @include container-secon;
                .text-firts {
                    font-family: $text_general;
                    font-weight: 100;
                    padding-top: 15px;
                    margin-bottom: 15px;
                }
                .container-img {
                    width: 100%;
                    height: auto;
                    img {
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                    }
                }
                .text-second {
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-size: 30px;
                    font-weight: 100;
                }
                .text-resumen {
                    font-size: 18px;
                    font-weight: 100;
                    font-family: $text_general;
                    letter-spacing: 1.5px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                .boton {
                    display: block;
                    width: 40%;
                    text-align: center;
                    margin: 20px auto;                    
                    border-radius: 10px;
                    background-color: transparent;
                    border: 1px solid #000;
                    padding: 10px 15px;
                    cursor: pointer;  
                    
                    a {
                        color: #000;
                        text-decoration: none;

                    }
                }
            }  
        }
    }
    .line {
        width: 60%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        opacity: 0.3;
    }
    .container-blogs-posts {
        width: 100%;
        height: auto;
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            top: 105%;
        }
        .container-blogs-articles {
            @include container-firt;
            .container-card-post {
                @include container-secon;
                .blog-main {
                    width: 100%;
                    height: 530px;
                    border-radius: 10px;
                    border: 1px solid #000;
                    margin-bottom: 25px;
                    overflow: hidden;
                    .container-img {
                        @include container-firt;
                        img {
                            width: 100%;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    .text-second {
                        margin-top: 30px;
                        margin-bottom: 30px;
                        font-size: 30px;
                        font-weight: 100;
                        padding: 0 10px;
                    }
                    .text-resumen {
                        font-size: 18px;
                        font-weight: 100;
                        font-family: $text_general;
                        letter-spacing: 1.5px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        padding: 0 10px;
                    }
                    .dateandbtn {
                        @include container-firt;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        align-items: center;
                        .date {
                            width: 40%;
                            height: auto;
                            margin-left: 10px;
                        }
                    
                        .boton {
                            display: block;
                            width: 45%;
                            text-align: center;
                            margin: 20px auto;                    
                            border-radius: 10px;
                            background-color: transparent;
                            border: 1px solid #000;
                            padding: 10px 15px;
                            cursor: pointer;  
                            a   {
                                color: #000;
                                text-decoration: none;
                            }
                       }
                    }
                }
            }
        }
    }
}    

