html {
    scroll-behavior: smooth;
}
.contacto {
    @include container-firt;
    background-color: #e6e9ed;
    .container-contacto {
        @include container-secon;
        @media only screen and (min-width: 1024px) {         
           display: flex;
           flex-wrap: wrap;
        }
        .contact-text {
            width: 100%;
            height: auto;
            font-size: 22px;
            text-align: center;
            text-transform: uppercase;
            margin-top: 40px;
            padding: 30px 0;
        }
        .email {
            @include container-secon;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 30px;
            @media only screen and (min-width: 1024px) {         
                width: 48%
            }
            .box {
                width: 60%;
                height: auto;
                text-align: center;
                img {
                    width: 40%;
                }
            }
            .boxtext {
                width: 90%;
                height: auto;
                text-align: center;
                padding-bottom: 30px;
                @media only screen and (min-width: 768px) {         
                    font-size: 25px;
                }  
                .escrib {
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                    margin: 15px 0;
                    @media only screen and (min-width: 768px) {         
                        font-size: 25px;
                    } 
                }
            }

        }

    }
}