* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-logo {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media only screen and (min-width: 684px) {         
        height: 100px;
        overflow: hidden;
    }
    @media only screen and (min-width: 768px) {         
        height: 10vh;
    }  
    .logo-movil {
        width: 30%;
        max-width: 100%;
        height: auto;
        text-align: center;
        @media only screen and (min-width: 684px) {         
            width: 20%;
        }
    }
    .text-sobremi-movil {
        font-weight: 100;
        font-size: 18px;
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                border-bottom: 1px solid #9555af;
            }
        }
    }
}

.hero {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: 684px) {         
        height: auto;
    }
    @media only screen and (min-width: 768px) {         
        height: calc(80vh - 48px);
    }  
    .hero-container {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        .hero-image {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 80%;
                max-width: 100%;
                height: auto;
                @media only screen and (min-width: 684px) {         
                    width: 60%;
                }
            }
        }
        .hero-text-main {
            width: 100%;
            height: auto;
            margin-top: 50px;
            margin-bottom: 10px;
            @media only screen and (min-width: 684px) {         
                @include container-secon-land;
            }
            .hero-text {
                width: 90%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                padding-top: 5px;
                text-align: center;
                font-family: $text_hero;
                font-weight: 300;
                text-transform: capitalize;
                font-size: 20px;
            }
        }
        .boton {
            display:block;
            width: 60%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            text-decoration: none;
            color: #fff;
            border: solid 1px transparent;
            border-radius: 10px;
            background-color: #9555af;
            padding: 10px 15px;
            cursor: pointer;
            @media only screen and (min-width: 684px) {         
                @include container-secon-btn;
                margin-bottom: 30px;
            }  
            a {
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                font-family: $text_general;
                font-weight: 100;
                letter-spacing: 1.5px;
            }
        }
    }
}
